.DS_Store

*.swp
*.cer
*.certSigningRequest
*.p12
*.mobileprovision
*.ipa
*.dSYM.zip
*.xcuserdatad

Mendi.xcworkspace/xcuserdata/dinotrnka.xcuserdatad/UserInterfaceState.xcuserstate
Mendi.xcworkspace/xcuserdata/dinotrnka.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/Pods.xcodeproj/xcuserdata/dinotrnka.xcuserdatad/xcschemes/xcschememanagement.plist

Pods/